@import 'scss/reset.scss';
@import 'scss/module/private.scss';
@import 'scss/module/mixins.scss';
@import 'scss/module/variables.scss';
header {
  @extend %padding-20;
  @extend %flex-element;
  .logo img {
    width: 100px;
  }
  nav{
    ul {
      @extend %flex-element;
      li {
        margin-left: 20px;
        a {
          color: $color01;
        }
      }
    }
  }
}
body {
  @extend %padding-20;
  background: black;
}
